<div class="col-3 border-end">
  <p class="fs-5"><%= c_product.name %></p>
  <hr>
  <p><%= c_product.ram %></p>
  <hr>
  <p><%= c_product.cpu %></p>
  <hr>
  <p><%= c_product.gpu %></p>
  <hr>
  <p><%= c_product.price %></p>
  <hr>
</div>
