<div class="container new-product-form">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <%= form_with(model: product) do |f| %>
        <div class="border border-secondary rounded-3 p-4 mt-4">
          <div class="mb-3 position-relative">
            <% if product.errors[:name] %>
              <%= f.label :name, class: 'form-label' %>
              <%= f.text_field :name, class: 'form-control',
                                                         placeholder: 'Product name' %>
            <% end %>
            <p class='error-message'><%= product.errors[:name].first %></p>
          </div>
          <div class="mb-3 position-relative">
            <%= f.label :description, class: 'form-label' %>
            <% if product.errors[:description] %>
              <%= f.text_area :description, class: 'form-control',
                                                placeholder: 'Something about place..',
                                                      alt: 'Description', size: '80' %>
            <% end %>
            <p class='error-message'><%= product.errors[:description].first %></p>
          </div>
          <div class="mb-3 position-relative">
            <% if product.errors[:ram] %>
              <%= f.label :ram, class: 'form-label' %>
              <%= f.text_field :ram, class: 'form-control',
                                                         placeholder: 'Value of RAM' %>
            <% end %>
            <p class='error-message'><%= product.errors[:ram].first %></p>
          </div>
          <div class="mb-3 position-relative">
            <% if product.errors[:cpu] %>
              <%= f.label :cpu, class: 'form-label' %>
              <%= f.text_field :cpu, class: 'form-control',
                                                         placeholder: 'CPU model' %>
            <% end %>
            <p class='error-message'><%= product.errors[:cpu].first %></p>
          </div>
          <div class="mb-3 position-relative">
            <% if product.errors[:gpu] %>
              <%= f.label :gpu, class: 'form-label' %>
              <%= f.text_field :gpu, class: 'form-control',
                                                         placeholder: 'Product name' %>
            <% end %>
            <p class='error-message'><%= product.errors[:gpu].first %></p>
          </div>
          <div class="mb-3 position-relative">
            <%= f.label :price, class: 'form-label' %>
            <% if product.errors[:price] %>
              <%= f.number_field :price, class: 'form-control',
                                        placeholder: '0.00', alt: 'price' %>
            <% end %>
            <p class='error-message'><%= product.errors[:price].first %></p>
          </div>
        </div>
        <div class="m-3 text-center w-4">
          <%= f.submit 'Create', class: 'btn btn-primary m-2 p-2 px-5' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
