<div class="col-md d-flex mb-3 justify-content-center">
  <div class="card" style="width: 18rem;">
    <%= image_tag product.picture.thumb.url, class: 'card-img-top', alt: 'image' %>
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text mb-5"><%= product.description.truncate(125) %></p>
      <div class="position-absolute bottom-0 m-3">
        <%= link_to '$' + product.price.to_s, product,
                                class: 'btn btn-primary text-white price-btn' %>
        <%= link_to 'Destroy', product, class: 'link-danger bg-white mx-3',
                                        method: :delete,
                                        data: { confirm: 'Are you sure?' } %>
        <span data-attribute-id='<%= product.id %>' class='compare_button'>
          <%= image_tag 'weigher.png', width: '30px' %>
        </span>
      </div>
    </div>
  </div>
</div>
