<div class="container">
  <div class="row text-center">
    <div class="col-3"></div>
    <div class="col-9">
      <h1>Products</h1>
    </div>
  </div>
  <div class="row mt-5 justify-content-center">
    <div class="col-md">
      <div class="row">
        <div class="col-12 text-center mb-5">
          <%= link_to 'New Product', new_product_path,
                                              class: 'btn btn-success text-white' %>
          <br><br>
          <%= link_to 'Compare', compare_products_path,
                                          id: 'link_to_compare',
                                          class: 'btn btn-success text-white' %>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <% @products.each do |product| %>
          <%= render product %>
        <% end %>
      </div>
      <div class="pagination justify-content-center">
        <%= will_paginate @products,
                    renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'products/compare' %>
